#banner {
    padding: 20rem 20rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#title {
    font-size: 10rem;
    font-weight: 400;
    font-style: italic;
}

#title > span:last-child {
    background-image: linear-gradient(to right, #69EACB, #EACCF8, #6654F1);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

