#footer {
    width: 100%;
    height: 300px;
    border: 1px solid var(--primary-color);
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 100px;
    height:100px;
    scale: 2.5;
    transform: translateX(20px);
}

.logo > img {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    object-fit: contain;
}

.members {

}

.members > h2,.contact > h2 {
    font-weight: 400;
}

.members > ul > li {
    font-weight: 300;
    margin-bottom: 12px;
}

.contact > ul {
    padding-left: unset ;
}

.contact > ul > li {
    display: flex;
    gap: 12px;
    align-items: start;
    margin-bottom: 12px;
}

.contact > ul > li > article > span:first-child {
    font-weight: 400;
    margin-bottom: 6px;
}

.contact > ul > li > article > span:last-child {
    font-weight: 300;
}

.social  a {
    text-decoration: none;
    color: var(--light-color);
    margin-left: 16px;
}

.social a i {
    font-size: 2rem;
}