#search {
    width: 10%;
    height: 10rem;
    background-image: linear-gradient(to right, #69EACB, #EACCF8, #6654F1);
    border-radius: 50px;
    display: grid;
    place-items: center ;
    margin: auto;
    position: relative;
}

#search .wrapper {
    /* width: calc(100% - 6px);
    height: calc(100% - 6px);  */
    background-color: rgba(255, 255, 255, 0.7); 
    background: none;
    border-radius: 50px;
    float:left ;
    align-items: center; 
    /* padding: 8px; */
    transition: .3s;
}

#search .wrapper > i {
    color: var(--primary-color);
}

#search .wrapper > input::placeholder {
    color: var(--primary-color);
}
.search-btn{
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 4rem;
}
.search_poppup {
    position: absolute;   
    padding: 12px;
    left: 0;
    top: 60px;
    width: 100%;
    min-height: 200px;
    height: fit-content;
    background-color: var(--light-color);
    border-radius: 12px;
    box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 10;
    display: none;
}

.search_poppup__item {
    padding: 4px 0;
    cursor: pointer;
    background-color: var(--light-color);
    list-style: none;
}

.search_poppup__item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.search_poppup__item + .search_poppup__item {
    margin-top: 12px;
}

.search_poppup__item  > img {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    object-fit: contain;
    border-radius: 50%;
    border: 1px solid #eee;
}

.search_poppup__item  > span {
    color: var(--dark-color);
    margin-left: 12px;
}
#search:focus,
#search:not(:placeholder-shown) {
    width: 8%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    transition: .4s;
}
#search.wrapper > input{
    display: none;
}

#search:hover .wrapper > input {
  font-size: larger;
  color: var(--primary-color);
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  display: block;
}


#search:hover > .search-btn,
#search:focus + .search-btn,
#search:not(:placeholder-shown) + .search-btn
{
  color:var(--primary-color) ;
  background-color: transparent;
  font-size: 3.5rem;
  padding: 4%;
  transition: .3s;
  /* color: black; */
  
 
}
#search .wrapper > input {
    display: none;
}

#search:hover {
  width: 30%;
  display: flex;
  justify-content: start;
  transition: .3s;
}




