.header {
    height: 130px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    margin-top: -8px
}

.header__navbar-list {
    margin-left: -40px;

}

.header__navbar-item {
    display: inline-block;
    list-style: none;
    color: var(--white-color);
    font-size: 20px;
    margin-right: 15px;
    position: relative;
}

.header__navbar-item--bold {
    font-weight: 400;
}

.header__navbar-item-link {
    color: var(--white-color);
    font-size: 19px;
    margin-right: 15px;
    text-decoration: none;
}

.header__navbar-item--crossline::after{
    content: "";
    display: block;
    position: absolute;
    height: 20px;
    border-right: 1px sandybrown solid;
    top: 0;
    right: -8px;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover { 
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7); 
}

.header__navbar-item--disable-pointer:hover {
    cursor: text;
    color: var(--white-color);
}

.header__navbar-icon-link {
    text-decoration: none;
    color: var(--white-color);
    font-size: large;
    margin: 0 2px;
    
}

/* QR code */

.header__qrcode {
    width: 186px;
    position: absolute;
    background-color: var(--white-color);
    border-radius: 2px;
    padding: 0 6px;
    top: 32px;
    display: none;
}

.header__navbar-item:hover .header__qrcode {
    display: block;
}

.header__qrcode::before {
    content: "";
    display: block;
    width: 186px;
    height: 20px;
    margin-top: -20px;
    margin-left: -6px;
}

.header__qrcode-myqr {
    width: 100%;
}

.header__qr-dowload {
    display: flex;
    justify-content: space-between;
    margin: 0 12px;
}

.header__qr-dowload-chplay {
    height: 16px;
}

.header__qr-dowload-appstore {
    height: 16px;
}

.header__qrcode-myqr:hover {
    opacity: 1;
}

/* Header__notification */

.header__notify {
    width: 404px;
    background-color: var(--white-color);
    position: absolute;
    left: 52.25%;
    border: 1px #d5d0d0 solid;
}

.header__notify-header {

}

.header__notify-content {

}

.header__notify-list {

}

.header__notify-item {

}

.header__notify-link {

}

.header__notify-img {

}

.header__notify-body {

}

.header__notify-name {

}

.header__notify-discription {

}
