:root {
    --font-family: Poppins;
    --light-color: white;
    --dark-color: black;
    --primary-color: #008ECC;
    --text-muted: #B6B7BC;
}

@font-face {
    font-family: Poppins;
    src: url('.././fonts/Poppins-Thin.ttf');
    font-weight: 100;
}
@font-face {
    font-family: Poppins;
    src: url('.././fonts/Poppins-ExtraLight.ttf');
    font-weight: 200;
}
@font-face {
    font-family: Poppins;
    src: url('.././fonts/Poppins-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: Poppins;
    src: url('.././fonts/Poppins-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: Poppins;
    src: url('.././fonts/Poppins-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: Poppins;
    src: url('.././fonts/Poppins-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: Poppins;
    src: url('.././fonts/Poppins-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: Poppins;
    src: url('.././fonts/Poppins-ExtraBold.ttf');
    font-weight: 800;
}
@font-face {
    font-family: Poppins;
    src: url('.././fonts/Poppins-Black.ttf');
    font-weight: 900;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

html {
    scroll-behavior: smooth;
    font-size: 50%;
}

body {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2rem;
    color: var(--light-color);
    font-family: var(--font-family);
}

.app {
    width: 100%;
    height: fit-content;
    background-image: linear-gradient(to bottom, #00062A, #0065DD);
    background-repeat: no-repeat;
}

#content {
    padding: 0px 150px;
}

#navigation {
    position: fixed;
    display: grid;
    place-items: center;
    text-decoration: unset;
    bottom: 4%;
    right: 4%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--light-color);
}

.star {
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    object-fit: cover;
}
