.card_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.card_list > img {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    object-fit: cover;
}

.card_item {
    width: 400px;
    height: 400px;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.05));
    border-radius: 12px;
    box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(255, 142, 142);
    padding: 8px;
    overflow: hidden;
    position: relative;
}

.card_item:last-child {
    border: 1px solid var(--primary-color);
}

.card_item::after {
    background: linear-gradient(to right,rgba(255,255,255,0.3),rgba(255, 255, 255, 0.5),rgba(255,255,255,0.3));
    content: "";
    height: 200%;
    left: -40%;
    opacity: 1;
    position: absolute;
    top: -100%;
    transform: rotate(45deg);
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    width: 60px;
    z-index: 1;
    animation-name: mirror;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

@keyframes mirror {
    to {
        left: 200%;
        top: 80%;
    }
}

.card_item__img {
    width: 100%;
    height: 70%;
    border: 1px solid rgb(255, 130, 130);
    border-radius: 8px;
    position: relative;
}

.card_item:last-child > .card_item__img {
    border: 1px solid var(--primary-color);
}

.card_item:first-child > .card_item__img {
    background-image:linear-gradient(45deg, rgba(142, 64, 168, 0.529), rgba(240, 44, 54, 0.501), #fdc15a94);
}

.card_item:last-child > .card_item__img {
    background-image:linear-gradient(45deg, #0022ff89, #598bff82, #7603e196);
}

.card_item__img > img:first-child {
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
}

.card_item__img--winner {
    position: absolute;
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    object-fit: cover;
    right: 2%;
    bottom: 2%;
}

.card_item__text {
    margin-top: 12px;
}

.card_item__text__group {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    margin-top: 6px;
}

.card_item__text__group > img {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    object-fit: cover;
}

.card_item__text__group > h1 {
    font-size: 2rem;
    font-weight: 400;
}

.recommend {
    margin-top: 50px;
}

.recommend > h1 {
    font-size: 3rem;
    margin-bottom: 50px;
}

.recommend__content {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.recommend > .recommend__chart > div{
    overflow: visible;
}

.recommend__chart__btns {
    list-style: none;
    padding-left: unset;
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
    margin-top: 24px;
}

.recommend__chart__btn {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    background-color: var(--light-color);
    padding: 10px;
    box-shadow: 0 3px 0 rgba(0, 0, 0);
    cursor: pointer;
    display: grid;
    place-items: center;
}

.recommend__chart__btn.active {
    box-shadow: unset;
    transform: translateY(3px);
    background-image: linear-gradient(45deg, rgb(90, 90, 255), rgb(181, 49, 181));
}

.recommend__chart__btn > div > img {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    object-fit: cover;
}

.recommend__chart__points {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-color);
    border-radius: 6px;
    margin-top: 24px;
}

.recommend__chart__points > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 32px;
    flex: 1;
    justify-content: center;
}

.recommend__chart__points > section > h3 {
    color: rgb(255, 77, 77);
    font-size: 4rem;
}

.recommend__chart__points > section:last-child > h3 {
    color: rgb(65, 48, 255);
    font-size: 4rem;
}

.recommend__chart__points > section > p {
    font-size: 2rem;
    font-weight: 400;
    color: var(--dark-color);
}

.recommend__chart__points > section:first-child {
    border-right: 1px solid #ccc;
}

.recommend__recommend {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    border: 1px solid var(--primary-color);
    flex: 1;
    padding: 24px;
}

.recommend__recommend__text {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 24px;
}

.recommend__recommend__group > img {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    object-fit: cover;
}

.recommend__recommend__group {
    display: flex;
    align-items: start;
    gap: 12px;
}

.recommend__recommend__group > div {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4px;
}

.recommend__recommend__group > div > h2 {
    font-size: 2rem;
    font-weight: 400;
}

.recommend__recommend__group > div > article {
    font-style: italic;
}

.recommend__recommend__group > div > article > span {
    font-weight: 400;
}

.specific {
    margin-top: 100px;
}

.specific__group {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.specific__group + .specific__group {
    margin-top: 50px;
}

.specific__group__item {
    height: 200px;
    padding: 24px;
    background-color: rgba(255, 255, 255, .1);
    border: 1px solid var(--primary-color);
    border-radius: 12px;
    margin-bottom: 14px;
}

.specific__group__item > figcaption {
    display: flex;
    align-items: center;
}

.specific__group__item > figcaption > h2 {
    text-transform: uppercase;
}

.specific__group__item > figcaption > span {
    font-weight: 300;
    margin-left: 6px;
}

.specific__group__item__process {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 24px 0;
}

.specific__group__item__process > div {
    width: 100%;
    height: 8px;
    border-radius: 8px;
    background-color: var(--light-color);
    position: relative;
    border: 1px solid var(--light-color);
}

.specific__group__item__process > p {
    font-weight: 300;
    font-size: 1.8rem;
}

.specific__group__item__process > div > div {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 8px;
}

.specific__group__item__process#first > div > div{
    background-image: linear-gradient(to right, rgb(255, 34, 34), rgb(255, 185, 56));
}

.specific__group__item__process#second > div > div{
    background-image: linear-gradient(to right, rgb(4, 4, 184), rgb(88, 83, 247));
}

.specific__group__title {
    display: flex;
    align-items: end;
    gap: 6px;
    width: fit-content;
}

.specific__group__title > img {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    object-fit: cover;
}

.price_comparison {
    margin-top: 50px;
}

.price_comparison__title {
    margin-bottom: 50px;
    display: flex;
    align-items: end;
    gap: 12px;
}

.price_comparison__title > img {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    object-fit: cover;
}

.price_comparison__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.price_comparison__group {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--light-color);
    border-radius: 8px;
    overflow: hidden;
    padding: 0 12px 12px;
    position: relative;
}

.price_comparison__group:first-child > h1 {
    color: rgb(255, 95, 95);
    width: 100%;
    text-align: center;
    background-color: var(--light-color);
    padding: 12px;
    position: absolute;
    top: 0;
    left: 0;
}

.price_comparison__group:last-child > h1 {
    color: rgb(95, 95, 255);
    width: 100%;
    text-align: center;
    background-color: var(--light-color);
    padding: 12px;
    position: absolute;
    left: 0;
    top: 0;
}

.price_comparison__group:first-child {
    border: 1px solid rgb(255, 79, 79);
}

.price_comparison__group:last-child {
    border: 1px solid var(--primary-color);
}

.price_comparison__group > table {
    width: 100%;
    margin-top: 80px;
}

.table_image {
    width: 20%;
    height: 100%;
}

.table_image > img {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    object-fit: contain;
}

.table_row {
    width: 100%;
    display: table-row;
    height: 60px;
}   

.table_row:nth-of-type(2n) {
    background-color: rgba(0, 0, 0, 0.1);
}

.table__name {
    width: 40%;
    padding-left: 12px;
    font-size: 2rem;
}

.table_price {
    width: 20%;
}

.table_price > span {
    width: fit-content;
    background-image: linear-gradient(45deg, rgb(126, 13, 126), rgb(35, 35, 251));
    padding: 6px 24px;
    border-radius: 24px;
    color: var(--light-color);
    font-size: 1.8rem;
    cursor: pointer;
}

.table_price.active > span {
    background-image: linear-gradient(45deg, red, orange);
}